/* background-image: linear-gradient( 103.3deg,  rgba(252,225,208,1) 30%, rgba(255,173,214,1) 55.7%, rgba(162,186,245,1) 81.8% ); */


/* background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% ); */


.btn-square.btn-sm, .btn-group-sm>.btn-square.btn {
    width: 2.25rem;
    height: 2.25rem;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
}