.form-check-input[type=radio]:checked:after {
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    border-color: #0db199 !important;
    background-color: #0db199 !important;
    transition: border-color;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}